/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: black;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #00a; }

a:hover {
  color: #000; }

a:visited {
  color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.header a {
  font-weight: bold;
  text-decoration: none; }

.title {
  display: inline-block;
  margin-bottom: 2em; }

.title a {
  color: #a00; }

.title a:hover {
  color: #000; }

.header a.extra {
  color: #aaa;
  margin-left: 1em; }

.header a.extra:hover {
  color: #000; }

.meta {
  color: #aaa; }

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden; }

.footer .contact {
  float: left;
  margin-right: 3em; }

.footer .contact a {
  color: #8085C1; }

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right; }

.footer .rss img {
  border: 0; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "sofia-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select {
  display: block;
  font-family: "sofia-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid rgba(240, 240, 240, 0.6);
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "sofia-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: rgba(152, 152, 152, 0.68); }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid rgba(240, 240, 240, 0.6); }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid rgba(135, 135, 135, 0.7);
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid rgba(240, 240, 240, 0.6);
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: black;
  font-family: "sofia-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: "sofia-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em;
  font-weight: 900; }

p, pre {
  margin: 0 0 0.75em;
  font-weight: 200; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid rgba(240, 240, 240, 0.6);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

/*Custom*/
.secondary {
  font-weight: 300; }

h1 {
  font-size: 3.875em;
  line-height: 1em;
  letter-spacing: 0.15063rem; }
  @media screen and (max-width: 40em) {
    h1 {
      font-size: 2.58333em;
      letter-spacing: 0.10042rem;
      margin-bottom: 0; } }

p {
  font-size: 1.125em;
  line-height: 1.75em;
  letter-spacing: 0.04312rem; }

.mobile-col {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%; }

html, body {
  position: absolute;
  width: 100%;
  height: 100%; }

body {
  background: white;
  background-image: url("../assets/img/bg02.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 150%;
  background-attachment: fixed; }
  @media screen and (max-width: 40em) {
    body {
      background-position: center 100%;
      background-size: 360%;
      font-size: 80%; } }

header {
  text-align: left;
  padding-top: 5%;
  position: fixed;
  width: 100%;
  z-index: 9999; }
  header h1 {
    z-index: 99;
    margin-bottom: 0; }
    @media screen and (max-width: 40em) {
      header h1 {
        padding-left: 4%; } }
  header h2 {
    margin-bottom: 2.8125rem;
    font-size: 1.3125rem; }
    @media screen and (max-width: 40em) {
      header h2 {
        padding-left: 4%; } }
  @media screen and (max-width: 40em) {
    header {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 4%; } }
  @media screen and (max-width: 40em) {
    header {
      position: relative; } }
  header .header__content {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto; }
    header .header__content::after {
      clear: both;
      content: "";
      display: table; }

main {
  margin-top: 12.5rem;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto; }
  main::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 40em) {
    main {
      margin-top: 0rem; } }

section {
  text-align: left;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 4%;
  padding-right: 4%;
  float: left;
  display: block;
  margin-right: 0.76336%;
  width: 49.61832%; }
  section:last-child {
    margin-right: 0; }

section.intro, section.contact {
  background: rgba(255, 255, 255, 0.8);
  margin-left: 8.39695%; }
  @media screen and (max-width: 40em) {
    section.intro, section.contact {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 4%; } }

section.intro {
  margin-top: -10%; }

section.about {
  background: rgba(0, 98, 105, 0.8);
  color: white;
  margin-top: -10%;
  margin-left: 50.38168%; }
  @media screen and (max-width: 40em) {
    section.about {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 4%; } }
  section.about p {
    clear: both; }
  section.about p:first-child {
    width: 60%;
    float: left; }
  section.about p:nth-child(2) {
    clear: none; }
  section.about img {
    width: calc(38%);
    float: right;
    margin-top: 0.625rem;
    margin-left: 1%; }

section.contact {
  margin-bottom: 10%; }
  @media screen and (max-width: 40em) {
    section.contact {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 4%; } }

section.projects {
  width: 100%;
  background: white; }
  section.projects article {
    margin-bottom: 3.75rem;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto; }
    section.projects article::after {
      clear: both;
      content: "";
      display: table; }
  section.projects h1 {
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 0.0875rem; }
  section.projects .content {
    padding-right: 1.75rem;
    float: left;
    display: block;
    margin-right: 0.76336%;
    width: 41.22137%;
    margin-left: 25.19084%; }
    section.projects .content:last-child {
      margin-right: 0; }
    @media screen and (max-width: 40em) {
      section.projects .content {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 4%; } }
  section.projects .meta {
    padding-top: 3.5rem;
    float: left;
    display: block;
    margin-right: 0.76336%;
    width: 24.42748%;
    margin-right: 0; }
    section.projects .meta:last-child {
      margin-right: 0; }
    @media screen and (max-width: 40em) {
      section.projects .meta {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 4%; } }
    section.projects .meta h3 {
      font-size: 1.125rem;
      font-weight: 600;
      width: auto;
      display: inline-block;
      padding: 0.625rem 0.6875rem 0.75rem 0.6875rem;
      background: #006269;
      color: white;
      margin-right: 1.375rem; }
