@mixin mobile-col() {
  @include media($medium-screen-down) {
    width:90%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:4%;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
}
