//@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
//@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight:900;
}

p, pre {
  margin: 0 0 $small-spacing;
  font-weight: 200;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}


/*Custom*/
.secondary{
  font-weight:300;
}

h1{
  font-size:em(62);
  line-height:1em;
  letter-spacing: rem(2.41);
}

p{
  font-size:em(18);
  line-height:em(28);
  letter-spacing: rem(0.69);
}
