@import "reset";
//@import "syntax";
@import "../bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "_base/grid-settings";
@import "../bower_components/neat/app/assets/stylesheets/_neat";
@import "_base/base";

html,body{
  position:absolute;
  width:100%;
  height:100%;
}

body {
    background: white;
    background-image:url('../assets/img/bg02.jpg');
    background-repeat:no-repeat;
    background-position:right bottom;
    background-size:150%;
    background-attachment: fixed;
    @include media($medium-screen-down) {
      background-position: center 100%;
      background-size: 360%;
      font-size:80%;
    }
}

header{

  text-align:left;
  padding-top:5%;
  position:fixed;
  width:100%;
  z-index:9999;
  h1{
    z-index:99;
    margin-bottom:0;
    @include media($medium-screen-down) {
      padding-left:4%;
    }

  }
  h2{
    margin-bottom: rem(45);
    font-size: rem(21);
    @include media($medium-screen-down) {
      padding-left:4%;
    }

  }
  @include mobile-col();
  @include media($medium-screen-down) {
    position:relative;
  }
  .header__content{
    @include outer-container();
  }
}

main{
  //padding-top:8%;
  margin-top:rem(200);
  @include outer-container();
  @include media($medium-screen-down) {
    margin-top:rem(0);
  }
}

section{

  text-align:left;
  padding-top:3%;
  padding-bottom:3%;
  padding-left:4%;
  padding-right:4%;
  @include span-columns(6);

}


section.intro, section.contact{
  background:rgba(255,255,255,0.8);
  @include shift(1);
  @include mobile-col();
}

section.intro{
  margin-top:-10%;
}

section.about{

  background:rgba( $turquoise, .8 );
  color:white;
  margin-top:-10%;
  @include shift(6);
  @include mobile-col();
  p{
    clear:both;
  }
  p:first-child{
    width:40%;
    float:left;
    img{
      width:100%;
      float:left;
      margin-top:rem(10);
    }
  }
  p:nth-child(2) {
    clear: none;
    width: 55%;
    float: left;
    margin-left: 5%;
  }


}

section.contact{
  margin-bottom:10%;
  @include mobile-col();
}

@import "projects";
