section.projects{
  width:100%;
  background:white;
  article{
    margin-bottom:rem(60);
    @include outer-container();
  }
  h1{
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: rem(1.4);
  }
  .gallery{
    @include span-columns(5);
    padding-right:rem(28);
    @include aspect-ratio(1,1);
    @include mobile-col();
    .slider-image{
      background-size: contain;
      background-position:center center;
      background-repeat:no-repeat;
      @include aspect-ratio(4,3);
    }
  }
  .content-text{
    padding-right:rem(28);
    @include span-columns(5);
    //@include shift(1);
    @include mobile-col();
  }
  .meta{
    padding-top:rem(56);
    @include span-columns(2);
    @include omega();
    @include mobile-col();
    h3{
      font-size:rem(18);
      font-weight:600;
      width:auto;
      display:inline-block;
      padding:rem(10) rem(11) rem(12) rem(11);
      background:$turquoise;
      color:white;
      margin-right:rem(22);
    }
  }
}
