<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Samira Himmit - communicatie &amp; tekst
        </title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->

        <link rel="stylesheet" href="/css/owl.carousel.css">
        <link rel="stylesheet" href="/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
      <header>
        <div class="header__content">
          <h1>Samira <span class="secondary">Himmit.</span></h1>
          <h2 class="secondary">communicatie &amp; tekst </h2>
        </div>
      </header>
      <main id="skrollr-body">
        {{ content }}
      </main>



      {% include webfonts.html %}
      {% include skrollr.html %}
    </body>
</html>
