<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Samira Himmit - communicatie &amp; tekst
        </title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->

        <link rel="stylesheet" href="/css/owl.carousel.css">
        <link rel="stylesheet" href="/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
      <header>
        <div class="header__content">
          <h1>Samira <span class="secondary">Himmit.</span></h1>
          <h2 class="secondary">communicatie &amp; tekst </h2>
        </div>
      </header>
      <main id="skrollr-body">
        {{ content }}
      </main>

      <section class="projects">
        {% for project in site.projects %}
          <article>
            <div class="gallery">
              <div class="content">
                <div class="slider owl-carousel owl-theme">
                  {% for image in project.images %}

                      <div  class="slider-image" style="background-image: url({{project.imagefolder}}/{{ image.name }})"></div>

                        {% endfor %}

                </div>
              </div>
            </div>
            <div class="content-text">

             <h1 class="project">{{ project.title }}</h1>
             {{ project.content }}
            </div>
            <div class="meta">
              <h3>{{ project.categories | join: '</h3><h3>' }}</h3>
            </div>
          </article>
        {% endfor %}
      </section>

      {% include webfonts.html %}
      {% include skrollr.html %}
    </body>
</html>
